.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #0056b3;
}

.main-button a {
    color: white; /* Asegura que el texto sea blanco */
    text-decoration: none; /* Elimina el subrayado */
    display: block; /* Hace que el enlace llene el botón */
}

.main-button:hover a {
    color: #ccc; /* Cambia el color del texto al pasar el mouse */
}

.filters button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: lightgray;
    cursor: pointer;
}

    .filters button.active {
        background-color: darkgray;
    }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

    .card-container .card {
        margin: 10px;
    }
.card-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas */
    overflow-y: auto; /* Permite desplazamiento vertical si hay muchas filas */
    padding: 10px;
    gap: 10px; /* Espacio entre las cartas */
    width: 100%; /* Ajusta según el diseño de tu página */
    height: 500px; /* Aumenta la altura para permitir múltiples filas */
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 30px; 
    background-color: #f4f4f4;
    box-shadow: 0px -2px 5px rgba(0,0,0,0.3); 
    z-index: 1000;
}

    .card-container::-webkit-scrollbar {
        width: 8px;
    }

    .card-container::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .card-container::-webkit-scrollbar-thumb {
        background: #888;
    }

        .card-container::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

.card {
    flex: 0 0 auto;
    width: 20px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .card img {
        max-width: 100%;
        max-height: 100%;
    }
