:root {
  --card-width: 10vw;
  --card-height: 15vh;
  --border-radius: 0.5vh;
  --font-size: 1.5vh;
  --button-bg-color: #4CAF50;
  --button-font-size: 2vh;
  --button-padding: 1vh 2vw;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 0;
  position: relative;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.player1, .player2 {
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.player1 {
  justify-content: flex-end;
}

.player2 {
  justify-content: flex-start;
}

/* Estilos para la mano */
.hand {
  display: flex;
  gap: 1vw;
  margin-top: -5vh; /* Superponer ligeramente sobre los dones */
  justify-content: center;
  z-index: 1; /* Asegurarse de que las cartas en la mano estén sobre los dones */
}

/* Estilos para el campo */
.field {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin: 1vh 0;
  flex-wrap: nowrap; /* Asegurarse de que las cartas se dispongan en una sola línea */
}

.card, .leader-card {
  border: 1px solid #000;
  padding: 0.5vh;
  border-radius: var(--border-radius);
  width: var(--card-width);
  height: var(--card-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size);
  position: relative;
  background-size: cover; /* Ajustar el tamaño del fondo */
  background-position: center; /* Centrar el fondo */
}

/* Estilos para las estadísticas de las cartas */
.card-power, .card-cost, .card-life {
  position: absolute;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 2vh;
  height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vh;
}

.card-power {
  top: 0.5vh;
  right: 0.5vw;
}

.card-cost {
  top: 0.5vh;
  left: 0.5vw;
}

.card-life {
  bottom: 0.5vh;
  right: 0.5vw;
}

/* Estilos específicos para los jugadores */
.player1 .leader-card, .player2 .leader-card {
  position: absolute;
  right: 5%;
  transform: translateX(50%);
  z-index: 1;
}

.player1 .leader-card {
  bottom: 20vh; /* Ajustar para que no esté debajo de las cartas de la mano */
}

.player2 .leader-card {
  top: 20vh; /* Ajustar para que no esté debajo de las cartas de la mano */
}

/* Estilos para las acciones */
.actions {
  position: absolute;
  top: 50%;
  left: 2vw;
  transform: translateY(-50%);
  z-index: 100;
}

.actions button {
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  cursor: pointer;
  margin-bottom: 1vh; /* Espaciado entre botones */
}

.actions div {
  margin-top: 1vh;
  font-size: var(--button-font-size);
}
