.admin-page {
    padding: 20px;
  }
  .users-view ,cards-view
  {
  display: flex;
  }
  .card-form,
  .user-form {
    margin-bottom: 20px;
  }
  
  .card-form input,
  .user-form input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
  }
  
  .card-form button,
  .user-form button {
    padding: 5px 10px;
  }
  
  .cards-list,
  .users-list {
    margin-top: 20px;
  }
  
  .card-item,
  .user-item {
    margin-bottom: 10px;
  }
  
  .card-item div,
  .user-item div {
    display: flex;
    align-items: center;
  }
  
  .card-item button,
  .user-item button {
    margin-left: 10px;
    padding: 5px 10px;
  }
  
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
  }
  
  .pagination span {
    margin: 0 10px;
  }
  
  .card-search input {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
  }
  .admin-page {
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
}

.cards-view {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards-list {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 10px; /* Asegura que no haya solapamiento con la barra de desplazamiento */
}

.user-item,
.card-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.newEnd
{
  height: 200px;
}
